.container{
  height: 38px;
  width: 36px;
  display: block;
  position: absolute;
  top: 7px;
  right: 4px;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    scale: 110%;
  }
}

.input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  &:focus-visible + .checkbox {
    outline: 2px solid;
    outline-offset: -2px;
  }
  &:checked + .checkbox {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.2 10a11 11 0 0 1 19.6 0A11 11 0 0 1 .2 10zm9.8 4a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 1 0-4 2 2 0 0 1 0 4z'/%3E%3C/svg%3E");
  }
}

.checkbox {
  width: 100%;
  height: 100%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 40% 50%;
  border-radius: 5px;
  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.81 4.36l-1.77 1.78a4 4 0 0 0-4.9 4.9l-2.76 2.75C2.06 12.79.96 11.49.2 10a11 11 0 0 1 12.6-5.64zm3.8 1.85c1.33 1 2.43 2.3 3.2 3.79a11 11 0 0 1-12.62 5.64l1.77-1.78a4 4 0 0 0 4.9-4.9l2.76-2.75zm-.25-3.99l1.42 1.42L3.64 17.78l-1.42-1.42L16.36 2.22z'/%3E%3C/svg%3E");

}