.input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  &:focus-visible + .checkbox {
    outline: 2px solid;
    outline-offset: -2px;
  }
}


.checkbox {
  border-radius: 5px;
  width: 24px;
  height: 24px;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background:no-repeat url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg fill='none' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8V16Z' fill='currentColor'/%3E%3Cpath clip-rule='evenodd' d='M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM12 4V8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16V20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4Z' fill='currentColor' fill-rule='evenodd'/%3E%3C/svg%3E");
  &:focus-visible {
    outline: 2px solid;
    outline-offset: -2px;
  }
}