.root {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.input {
  border-radius: 10px;
  border: none;
  &:focus {
    outline: none;
  }
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: 20px;

  &:focus ~ .underlineWrapper .underline {
    width: 100%;
  }
}

.inputImg {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 5px;
  width: 40px;
  height: 40px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 3% 50%;
  &:hover {
    scale: 110%;
  }
  &--email {
      background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' standalone='no'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='1280.000000pt' height='965.000000pt' viewBox='0 0 1280.000000 965.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,965.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M0 4825 l0 -4825 6400 0 6400 0 0 4825 0 4825 -6400 0 -6400 0 0 -4825z m11346 3930 c4 -11 -558 -582 -1838 -1868 -2966 -2979 -2725 -2740 -2793 -2775 -208 -106 -479 -87 -652 46 -44 34 -4176 4205 -4502 4545 -24 25 -40 50 -37 56 5 8 1374 11 4912 11 4369 0 4905 -2 4910 -15z m-8826 -2270 c885 -896 1610 -1635 1610 -1641 0 -10 -3168 -3256 -3213 -3292 -9 -8 -21 -11 -27 -7 -11 7 -15 6530 -4 6560 4 9 10 15 15 13 4 -2 733 -736 1619 -1633z m9397 -1685 c2 -2056 -1 -3240 -7 -3250 -8 -12 -25 0 -88 65 -808 819 -3122 3200 -3120 3210 5 24 3182 3214 3198 3212 13 -2 15 -370 17 -3237z m-6807 -936 c190 -190 379 -372 420 -403 263 -202 590 -301 948 -288 232 8 434 59 625 156 182 93 239 140 608 513 211 213 352 349 362 346 21 -5 3218 -3279 3214 -3292 -3 -8 -1373 -11 -4883 -11 -4437 0 -4879 1 -4879 16 0 17 3213 3309 3230 3309 6 0 165 -156 355 -346z'/%3E%3C/g%3E%3C/svg%3E");
  }
  &--password {
      background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 64 64' width='64px' height='64px'%3E%3Cg id='surface252883'%3E%3Cpath style='fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;stroke-width:1;stroke-linecap:butt;stroke-linejoin:round;stroke:rgb(80.000001%25,80.000001%25,80.000001%25);stroke-opacity:1;stroke-miterlimit:10;' d='M 89.22123 70.812683 L 137.603073 70.812683 C 138.543039 70.812683 139.483005 71.08728 140.158936 71.625912 L 151.037193 80.222904 C 152.779827 81.564204 153.054423 83.982768 151.713124 85.735963 L 140.824305 99.708715 C 140.021637 100.775418 138.807074 101.314051 137.603073 101.314051 L 129.407415 101.314051 C 127.115588 101.314051 125.372954 99.571417 125.372954 97.290151 C 125.372954 95.008886 127.115588 93.255691 129.407415 93.255691 L 135.585843 93.255691 L 142.841535 83.982768 L 136.261773 78.744306 L 99.708715 78.744306 C 100.247348 81.025572 100.78598 83.444136 100.78598 85.999999 C 100.78598 90.034459 99.972751 93.931621 98.356854 97.416888 C 98.356854 97.416888 96.476922 101.314051 94.195657 101.314051 L 89.358529 101.314051 C 83.444136 113.681468 70.812683 122.27846 56.174562 122.27846 C 35.875522 122.27846 19.484206 106.024442 19.484206 85.999999 C 19.484206 65.975555 36.01282 49.721537 56.174562 49.721537 C 70.812683 49.721537 83.444136 58.318529 89.22123 70.812683 Z M 27.542565 85.999999 C 27.542565 101.588647 40.311316 114.2201 56.174562 114.2201 C 71.889948 114.2201 84.658699 101.588647 84.658699 85.999999 C 84.658699 70.41135 72.027246 57.779897 56.174562 57.779897 C 40.311316 57.779897 27.542565 70.41135 27.542565 85.999999 Z M 56.575896 85.999999 C 56.575896 92.717059 51.062837 98.092819 44.345777 98.092819 C 37.628717 98.092819 32.115658 92.717059 32.115658 85.999999 C 32.115658 79.282938 37.628717 73.907178 44.345777 73.907178 C 51.062837 73.907178 56.575896 79.282938 56.575896 85.999999 Z M 40.174018 85.999999 C 40.174018 88.281264 42.064511 90.034459 44.345777 90.034459 C 46.627043 90.034459 48.506975 88.281264 48.506975 85.999999 C 48.506975 83.718733 46.627043 81.965538 44.345777 81.965538 C 42.064511 81.965538 40.174018 83.718733 40.174018 85.999999 Z M 115.825435 93.255691 C 118.117262 93.255691 119.859896 95.008886 119.859896 97.290151 C 119.859896 99.571417 118.117262 101.314051 115.825435 101.314051 L 107.629777 101.314051 C 105.348511 101.314051 103.605878 99.571417 103.605878 97.290151 C 103.605878 95.008886 105.348511 93.255691 107.629777 93.255691 Z M 115.825435 93.255691 ' transform='matrix(0.36986,0,0,0.36986,0.192,0.192)'/%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;' d='M 20.96875 18.582031 C 13.511719 18.582031 7.398438 24.59375 7.398438 32 C 7.398438 39.40625 13.460938 45.417969 20.96875 45.417969 C 26.382812 45.417969 31.054688 42.238281 33.242188 37.664062 L 35.03125 37.664062 C 35.875 37.664062 36.570312 36.222656 36.570312 36.222656 C 37.167969 34.933594 37.46875 33.492188 37.46875 32 C 37.46875 31.054688 37.269531 30.160156 37.070312 29.316406 L 50.589844 29.316406 L 53.023438 31.253906 L 50.339844 34.683594 L 48.054688 34.683594 C 47.207031 34.683594 46.5625 35.332031 46.5625 36.175781 C 46.5625 37.019531 47.207031 37.664062 48.054688 37.664062 L 51.085938 37.664062 C 51.53125 37.664062 51.980469 37.464844 52.277344 37.070312 L 56.304688 31.902344 C 56.800781 31.253906 56.699219 30.359375 56.054688 29.863281 L 52.03125 26.683594 C 51.78125 26.484375 51.433594 26.382812 51.085938 26.382812 L 33.191406 26.382812 C 31.054688 21.761719 26.382812 18.582031 20.96875 18.582031 Z M 20.96875 21.5625 C 26.832031 21.5625 31.503906 26.234375 31.503906 32 C 31.503906 37.765625 26.78125 42.4375 20.96875 42.4375 C 15.101562 42.4375 10.378906 37.765625 10.378906 32 C 10.378906 26.234375 15.101562 21.5625 20.96875 21.5625 Z M 16.59375 27.527344 C 14.109375 27.527344 12.070312 29.515625 12.070312 32 C 12.070312 34.484375 14.109375 36.472656 16.59375 36.472656 C 19.078125 36.472656 21.117188 34.484375 21.117188 32 C 21.117188 29.515625 19.078125 27.527344 16.59375 27.527344 Z M 16.59375 30.507812 C 17.4375 30.507812 18.132812 31.15625 18.132812 32 C 18.132812 32.84375 17.4375 33.492188 16.59375 33.492188 C 15.75 33.492188 15.050781 32.84375 15.050781 32 C 15.050781 31.15625 15.75 30.507812 16.59375 30.507812 Z M 40 34.683594 C 39.15625 34.683594 38.511719 35.332031 38.511719 36.175781 C 38.511719 37.019531 39.15625 37.664062 40 37.664062 L 43.03125 37.664062 C 43.878906 37.664062 44.523438 37.019531 44.523438 36.175781 C 44.523438 35.332031 43.878906 34.683594 43.03125 34.683594 Z M 40 34.683594 '/%3E%3C/g%3E%3C/svg%3E");
  }
}

.underlineWrapper {
  width: 100%;
  height: 3px;
  background-color: rgb(214, 214, 214);
}

.underline {
  height: 3px;
  width: 0;
  transition: width 0.5s ;
  background: #1890FF;
}

.errorMessage {
  font-size: 20px;
  color: red;
}
